@import"../base/base.scss";

body{
    color: $text-color;
}

.presentation1{
    background: url("../../images/slider/presentation11.png") top center no-repeat;
}

.presentation2{
    background: url("../../images/slider/presentation2.png") center center no-repeat;
}

.presentation3{
    background: url("../../images/slider/presentation3.png") center center no-repeat;
}

.presentation4{
    background: url("../../images/slider/presentation4.png") center center no-repeat;
}

.presentation5{
    background: url("../../images/slider/presentation5.png") center center no-repeat;
}

div.slider {
    height: 35em;
    ul {
        height: 35em;
        list-style: none;
        border: none;
        margin: 0;
        padding: 0;
    }
    ul>li {
        // background: url("../../images/slider/presentation1.png") top center no-repeat;
        background-size: cover;
        height: 35em;
    }
    ul>li:not(:first-child) {
        display: none;
    }
    p.motto {
        width: 9em;
        margin-top: 3.5em;
        text-transform: uppercase;
        text-align: left;
        font-family: $text-font;
        font-size: 2.5em;
        color: $text-color;
        line-height: 1.3;
    }
}

.options {
    display: flex;
    margin-top: 4em;
    margin-bottom: 7em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .option-column {
        flex-grow: 1;
    }
    article {
        display: flex;
        margin-top: 2em;
        width: 40%;
    }
    article>object {
        height: 9em;
        margin-top: 1.5em;
    }
    article.top-fix {
        margin-top: 1.8em;
    }
    article.top-fix>object {
        margin-right: -1em;
    }
    article>section {
        margin-left: 1.5em;
        margin-right: 1.5em;
        text-decoration: none;
    }
    article>section>.button {
        font-size: 1em;
    }
    p {
        font-size: 90%;
    }
    h2 {
        font-weight: normal;
    }
}

.about {
    text-align: center;
    background: url("../../images/main/about.png") top center no-repeat;
    background-size: cover;
    padding-bottom: 2em;
    font-size: 90%;
    h1 {
        font-family: $text-font;
        font-weight: normal;
        color: $main-color;
        text-transform: uppercase;
    }
    h2 {
        font-family: $aliquam-font;
        text-transform: uppercase;
        font-size: 80%;
        margin-top: -20px;
        letter-spacing: 0.15em;
    }
    p {
        font-family: $text-font;
    }
    object.logo {
        height: 4em;
    }
}

@media (max-width: 999px) {    
    .options {
        flex-direction: column;
        article {
            width: 100%;
        }
        article>object {
            width: 8.8em;
        }
        article.reverse {
            flex-direction: row-reverse;
        }
        article.top-fix>object {
            margin-right: 0em;
        }
        article>section {
            margin-right: 0;
        }
    }
    .about>div>p {
        height: 99%;
        line-height: 1.5em;
        font-size: 1.2em;
    }    
}
