@import "../normalizer/normalize";
@include normalize();
@font-face {
    font-family: "RobotoSlabRegular";
    src: url("../../fonts/RobotoSlabRegular.ttf") format("truetype");
}

@font-face {
    font-family: "Aliquam";
    src: url("../../fonts/Aliquam.ttf") format("truetype");
}

@font-face {
    font-family: "FiraSansRegular";
    src: url("../../fonts/FiraSansRegular.otf") format("opentype");
}

$caption-font: "RobotoSlabRegular",
sans-serif;
$text-font: "FiraSansRegular",
sans-serif;
$aliquam-font: "Aliquam",
sans-serif;
$text-color: #ffffff;
$main-color: #e24f39;
$background-color: #323743;
html {
    height: 100%;
}

body {
    height: 100%;
    font: 100% $text-font;
    font-size: 90%;
    color: $text-color;
    display: flex;
    flex-direction: row;
    background-color: $background-color;
    overflow: scroll;
}

@mixin logo {
    height: 3em;
    padding: 1.5em 0 0 2em;
    z-index: 10;
}

@mixin item {
    text-decoration: none;
    text-transform: uppercase;
    color: $text-color;
    font-size: 90%;
    margin-right: 1em;
}

.layout {
    width: 60%;
    margin: 0 auto 0 auto;
}

.space {
    background-color: $background-color;
    margin: 0;
}

.logo {
    @include logo;
}

content {
    margin: 0 auto 0 -4.2em;
}

.item {
    @include item;
}

.button {
    height: 1.7em;
    margin-top: 1.5em;
    text-transform: uppercase;
    font: 100% $aliquam-font;
    font-weight: bold;
    letter-spacing: 0.05em;
    ;
    color: $text-color;
    background-color: $main-color;
    font-size: 1.3em;
    line-height: 1.3em;
    border: 0px;
    border-radius: 3px;
}

header {
    height: 6em;
    background-color: $background-color;
    font: 100% $caption-font;
    display: flex;
    flex-direction: row;
    line-height: 6;
    .headermenu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        ul {
            display: flex;
            flex-direction: row;
            li {
                list-style-type: none;
            }
        }
        .menu-logo {
            display: none;
        }
        .start-items {
            width: 26%;
            justify-content: flex-start;
            align-items: center;
            padding-left: 0;
        }
        nav {
            width: 100%;
            text-align: right;
            justify-content: center;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
        }
        .end-items {
            text-align: right;
            justify-content: flex-end;
            align-items: center;
            &:last-child>a {
                margin-right: 0;
            }
        }
        a.item:active {
            @include item;
            border-bottom: solid 3px $main-color;
            height: 3%;
        }
        a.item:hover {
            color: #c2bdbd;
        }
        a.item.orange {
            color: $main-color;
        }
        a.item.orange:hover {
            color: #bf5949;
        }
        object.search {
            height: 1em;
        }
    }
}

div.slider {
    height: 35em;
    ul {
        height: 35em;
        list-style: none;
        border: none;
        margin: 0;
        padding: 0;
    }
    ul>li {
        background: url("../../images/slider/presentation1.png") top center no-repeat;
        background-size: cover;
        height: 35em;
    }
    ul>li:not(:first-child) {
        display: none;
    }
    p.motto {
        width: 9em;
        margin-top: 3.5em;
        text-transform: uppercase;
        text-align: left;
        font-family: $text-font;
        font-size: 2.5em;
        color: $text-color;
        line-height: 1.3;
    }
}

.options {
    display: flex;
    margin-top: 4em;
    margin-bottom: 7em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .option-column {
        flex-grow: 1;
    }
    article {
        display: flex;
        margin-top: 2em;
        width: 40%;
    }
    article>object {
        height: 9em;
        margin-top: 1.5em;
    }
    article.top-fix {
        margin-top: 1.8em;
    }
    article.top-fix>object {
        margin-right: -1em;
    }
    article>section {
        margin-left: 1.5em;
        margin-right: 1.5em;
        text-decoration: none;
    }
    article>section>.button {
        font-size: 1em;
    }
    p {
        font-size: 90%;
    }
    h2 {
        font-weight: normal;
    }
}

.about {
    text-align: center;
    background: url("../../images/main/about.png") top center no-repeat;
    background-size: cover;
    padding-bottom: 2em;
    font-size: 90%;
    h1 {
        font-family: $text-font;
        font-weight: normal;
        color: $main-color;
        text-transform: uppercase;
    }
    h2 {
        font-family: $aliquam-font;
        text-transform: uppercase;
        font-size: 80%;
        margin-top: -20px;
        letter-spacing: 0.15em;
    }
    p {
        font-family: $text-font;
    }
    object.logo {
        height: 4em;
    }
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 90%;
    margin-top: 3em !important;
    overflow: hidden;
    article {
        width: 30%;
        display: flex;
        flex-direction: column;
        padding-bottom: 4em;
    }
    h1,
    h3 {
        margin: 0.2em 0;
        font-family: $text-font;
        font-weight: normal;
        line-height: 0.9em;
    }
    a.item {
        text-transform: none;
    }
    a.item:hover {
        color: #c2bdbd;
    }
    p {
        margin: 0em;
    }
    form {
        label {
            display: block;
            font-family: $text-font;
        }
        input,
        .button {
            margin: 0em;
            font-size: 0.7em;
            border-radius: 3px;
        }
    }
}

.soc-share {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    a {
        cursor: pointer;
    }
    object {
        padding: 1em 1em 0 0 !important;
    }
}

@media (max-width: 999px) {
    header {
        .headermenu {
            span {
                margin-right: 0;
            }
            .menu-logo {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                text-transform: uppercase;
                visibility: visible;
                width: 100%;
                padding-top: 2em;
            }
            .end-items {
                visibility: hidden;
                height: 0;
                opacity: 0;
                transition: all 1s ease;
                flex-direction: column;
                width: 100%;
                justify-content: flex-start;
                align-items: flex-end;
                li {
                    background-color: $background-color;
                    width: 20%;
                    line-height: 3;
                    margin: -1px;
                    &:first-of-type {
                        margin-top: 4%;
                    }
                }
                span {
                    display: none;
                }
            }
            .show-navigation {
                visibility: visible;
                height: 3em;
                opacity: 1;
                z-index: 10000;
            }
            .item {
                width: 100%;
                text-align: center;
            }
        }
    }
    .options {
        flex-direction: column;
        article {
            width: 100%;
        }
        article>object {
            width: 8.8em;
        }
        article.reverse {
            flex-direction: row-reverse;
        }
        article.top-fix>object {
            margin-right: 0em;
        }
        article>section {
            margin-right: 0;
        }
    }
    .about>div>p {
        height: 99%;
        line-height: 1.5em;
        font-size: 1.2em;
    }
    footer {
        overflow: hidden;
    }
}
