@import "normalizer/normalize";
@include normalize();
@font-face {
    font-family: "RobotoSlabRegular";
    src: url("../fonts/RobotoSlabRegular.ttf") format("truetype");
}

@font-face {
    font-family: "Aliquam";
    src: url("../fonts/Aliquam.ttf") format("truetype");
}

@font-face {
    font-family: "FiraSansRegular";
    src: url("../fonts/FiraSansRegular.ttf") format("truetype");
}

$caption-font: "RobotoSlabRegular",
sans-serif;
$caption-color: #ffffff;
$text-font: "FiraSansRegular",
sans-serif;
$text-color: #ffffff;
$main-color: #e24f39;
html {
    height: 100%;
}

body {
    height: 100%;
    font: 100% $text-font;
    font-size: small;
    color: $text-color;
}

@mixin logo {
    height: 3em;
    padding: 1em 1.5em 0 2em;
}

@mixin item {
    text-decoration: none;
    text-transform: uppercase;
    color: $caption-color;
    font-size: small;
    line-height: 6;
    margin-right: 1em;
    flex: 1;
}

@mixin layout {
    width: 72em;
    margin: 0 auto 0 auto;
}

header {
    height: 5em;
    background-color: #323743;
    font: 100% $caption-font;
    font-size: medium;
    display: flex;
    flex-direction: row;
    object.logo {
        @include logo;
    }
    .headermenu {
        display: flex;
        @include layout;
        flex-direction: row;
        flex-wrap: nowrap;
        div.start-items {
            //flex-grow: 5;
            width: 14em;
            align-items: flex-start;
        }
        div.end-items {
            width: 30em;
            //flex-grow: 5;
            text-align: right;
            align-items: flex-end;
        }
        div.empty {
            width: calc(100% - 44em);
        }
        a.item {
            @include item;
        }
        a.item:active {
            @include item;
            border-bottom: solid 3px $main-color;
            height: 3%;
        }
        a.item.orange {
            color: $main-color;
        }
        object.search {
            height: 1em;
        }
    }
}
