@import "normalizer/normalize";
@include normalize();
html {
    height: 100%;
    font: 
}

body {
    height: 100%;
}

@mixin logo {
    position: absolute;
    top: 2%;
    left: 3%;
    height: 6%;
}

header {
    height: 10%;
    background-color: #323743;
    object {
        @include logo;
    }
}
